n8n/backup/workflows/Crawl4AI_to_OpenAIAssistant_Vector_Store.json
{
  "name": "Crawl4AI to Open AI Assistant Vector Store",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f7bc978-b9a5-4090-9b22-9a5321208976",
              "name": "vector-store-id",
              "value": "=vs_67adb06ae454819182b3563170727a2b",
              "type": "string"
            },
            {
              "id": "16a824b4-59c1-4a8a-ba12-4b62aa6cc439",
              "name": "subfolder",
              "value": "=proalab",
              "type": "string"
            },
            {
              "id": "d6c3f5f5-226c-47a0-b75a-0b3221168027",
              "name": "websites",
              "value": "=[\"https://proalab.com/sitemap.xml\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        2020
      ],
      "id": "2cffa8ce-d625-4e08-9eea-210a6ce97a59",
      "name": "Set Static Vars - Proalab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f7bc978-b9a5-4090-9b22-9a5321208976",
              "name": "vector-store-id",
              "value": "=vs_So0aIj8ssLKtMOHfImRmQMyv",
              "type": "string"
            },
            {
              "id": "16a824b4-59c1-4a8a-ba12-4b62aa6cc439",
              "name": "subfolder",
              "value": "=myway_route_planner",
              "type": "string"
            },
            {
              "id": "d6c3f5f5-226c-47a0-b75a-0b3221168027",
              "name": "websites",
              "value": "=[\"https://help.mywayroute.com/sitemap-pages.xml\", \"https://www.mywayroute.com/sitemap.xml\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        1820
      ],
      "id": "02e5d005-335f-4835-949e-7f464d6c0d10",
      "name": "Set Static Vars - MyWay"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.file }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1220,
        1460
      ],
      "id": "6453c82d-a403-47d0-93ba-6cfd3b293245",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "command": "=find /data/scripts_output/crawl4ai/{{ $('Set Static Vars1').first().json.subfolder }} -type f \\( -iname \"*.md\" \\)"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        260,
        1400
      ],
      "id": "b970ec93-438a-44d6-832d-59748fb00d0e",
      "name": "Check File Names1"
    },
    {
      "parameters": {
        "jsCode": "// Parse the stringified JSON array in $json.stdout\nconst files = $('Check File Names1').first().json.stdout.split('\\n').filter(f => f.trim() !== '');\n\n// Return each file as a separate item\nreturn files.map(file => ({ file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        1460
      ],
      "id": "adef326e-0938-45bf-ab50-884247239c93",
      "name": "Build an Array of files1"
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "purpose": "assistants"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1600,
        1460
      ],
      "id": "4460ae51-b9d9-459c-9d83-f5cbfcabd591",
      "name": "OpenAI - Upload Files1",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1820,
        1460
      ],
      "id": "b9d23710-3d28-489c-ab90-bc2864692ff4",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/vector_stores/{{ $('Set Static Vars1').first().json[\"vector-store-id\"] }}/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"file_id\": \"{{ $json.id }}\"} ",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        1580
      ],
      "id": "f5e3b512-5391-4be2-a3cb-32218b21308b",
      "name": "Send file to Vector Store1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f7bc978-b9a5-4090-9b22-9a5321208976",
              "name": "vector-store-id",
              "value": "={{ $json[\"vector-store-id\"] }}",
              "type": "string"
            },
            {
              "id": "16a824b4-59c1-4a8a-ba12-4b62aa6cc439",
              "name": "subfolder",
              "value": "={{ $json.subfolder }}",
              "type": "string"
            },
            {
              "id": "d6c3f5f5-226c-47a0-b75a-0b3221168027",
              "name": "websites",
              "value": "={{ $json.websites }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        1480
      ],
      "id": "97301f94-1281-4c2f-9095-cadf0936f7bc",
      "name": "Set Static Vars1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1420,
        1460
      ],
      "id": "195ef32d-cd55-41c4-9ef2-9f58083b6517",
      "name": "Wait Temp1",
      "webhookId": "78e88630-6d48-4798-8fe3-7ae8b95a9d5d"
    },
    {
      "parameters": {
        "amount": 0.4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2200,
        1580
      ],
      "id": "4bbf118f-c099-4a6f-a49e-39a8ba6eb1ce",
      "name": "Wait7",
      "webhookId": "febee4aa-4bfb-4db9-8202-6c5304c92dce"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "624058c6-a72f-4b2d-bb19-4929042f208d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        1560
      ],
      "id": "e528ad32-5f7c-421f-b823-fd54a7f299b9",
      "name": "If command shows no error "
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2040,
        1420
      ],
      "id": "924d43d0-09ce-499a-ba89-0cee737a95d7",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -220,
        1480
      ],
      "id": "27504c3a-33bb-4a8c-a295-3ccb6b8db049",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "websites",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -420,
        1480
      ],
      "id": "b2b97353-c948-428c-a341-bee76798a79d",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "content": "## Testing Params\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 500,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -660,
        1700
      ],
      "typeVersion": 1,
      "id": "6c24aed3-f5bc-4d33-adf9-67072d73772c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "vector-store-id"
            },
            {
              "name": "subfolder"
            },
            {
              "name": "websites",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        1480
      ],
      "id": "8d386299-a292-480a-97c8-967e57320409",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "errorMessage": "=Errors:\n{{ $('Execute Crawl4AI Script').item.json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        480,
        1720
      ],
      "id": "74657e97-3925-494a-a44e-5f10107507b6",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-scripts:5500/crawl4ai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"args\": [\n    \"--website\",\n    \"{{ $json.websites }}\",\n    \"--subfolder\",\n    \"{{ $('Set Static Vars1').first().json.subfolder }}\"\n    {{ $runIndex === 0 ? ', \"--clean\"' : '' }}\n  ]\n}",
        "options": {
          "timeout": 1800000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        1560
      ],
      "id": "2cc297b1-e280-41e5-b8b0-b72392f56c4a",
      "name": "Execute Crawl4AI Script"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tusCCGAFPmipt7lB",
          "mode": "list",
          "cachedResultName": "Delete Open AI Vector Store Files"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "vector-store-id": "={{ $('Set Static Vars1').first().json[\"vector-store-id\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vector-store-id",
              "displayName": "vector-store-id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        1400
      ],
      "id": "bd7cfa17-91f4-48f8-b698-2e9440cf9310",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Wait Temp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Names1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build an Array of files1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Upload Files1": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send file to Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send file to Vector Store1": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Static Vars1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Temp1": {
      "main": [
        [
          {
            "node": "OpenAI - Upload Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If command shows no error ": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [
          {
            "node": "Check File Names1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Crawl4AI Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Set Static Vars1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Crawl4AI Script": {
      "main": [
        [
          {
            "node": "If command shows no error ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Build an Array of files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "09d91a25-f613-471c-98b7-860f19e58d94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7dea66321b4c2d00f456056dec74111cfa19b98c8cde8bfed7341b9d5147730b"
  },
  "id": "zFmMbVDbKxwX3Sbg",
  "tags": [
    {
      "createdAt": "2025-01-26T20:35:21.487Z",
      "updatedAt": "2025-01-26T20:35:21.487Z",
      "id": "TutrKQcUpuk3hV3m",
      "name": "cron"
    },
    {
      "createdAt": "2025-01-26T09:21:04.473Z",
      "updatedAt": "2025-01-26T09:21:04.473Z",
      "id": "VfpwjMdGODJ1skxz",
      "name": "ai"
    },
    {
      "createdAt": "2025-03-20T18:53:47.525Z",
      "updatedAt": "2025-05-11T07:48:31.085Z",
      "id": "lZ057yenudLttxwt",
      "name": "triggered by task"
    }
  ]
}