n8n/backup/workflows/Crawl4AI_to_Open_AI_Assistant_Vector_Store.json
{
  "name": "Crawl4AI to Open AI Assistant Vector Store",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f7bc978-b9a5-4090-9b22-9a5321208976",
              "name": "vector-store-id",
              "value": "=vs_67adb06ae454819182b3563170727a2b",
              "type": "string"
            },
            {
              "id": "16a824b4-59c1-4a8a-ba12-4b62aa6cc439",
              "name": "subfolder",
              "value": "=proalab",
              "type": "string"
            },
            {
              "id": "d6c3f5f5-226c-47a0-b75a-0b3221168027",
              "name": "websites",
              "value": "=[\"https://proalab.com/sitemap.xml\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        2020
      ],
      "id": "2cffa8ce-d625-4e08-9eea-210a6ce97a59",
      "name": "Set Static Vars - Proalab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f7bc978-b9a5-4090-9b22-9a5321208976",
              "name": "vector-store-id",
              "value": "=vs_So0aIj8ssLKtMOHfImRmQMyv",
              "type": "string"
            },
            {
              "id": "16a824b4-59c1-4a8a-ba12-4b62aa6cc439",
              "name": "subfolder",
              "value": "=myway_route_planner",
              "type": "string"
            },
            {
              "id": "d6c3f5f5-226c-47a0-b75a-0b3221168027",
              "name": "websites",
              "value": "=[\"https://help.mywayroute.com/sitemap-pages.xml\", \"https://www.mywayroute.com/sitemap.xml\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        1820
      ],
      "id": "02e5d005-335f-4835-949e-7f464d6c0d10",
      "name": "Set Static Vars - MyWay"
    },
    {
      "parameters": {
        "fileSelector": "=/data/scripts_output/crawl4ai/{{ $('Set Static Vars1').first().json.subfolder }}/{{ $json.file }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2400,
        1580
      ],
      "id": "6453c82d-a403-47d0-93ba-6cfd3b293245",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "command": "=ls /data/scripts_output/crawl4ai/{{ $('Set Static Vars1').first().json.subfolder }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        260,
        1400
      ],
      "id": "b970ec93-438a-44d6-832d-59748fb00d0e",
      "name": "Check File Names1"
    },
    {
      "parameters": {
        "jsCode": "// Parse the stringified JSON array in $json.stdout\nconst files = $('Check File Names1').first().json.stdout.split('\\n');\n\n// Return each file as a separate item\nreturn files.map(file => ({ file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1580
      ],
      "id": "adef326e-0938-45bf-ab50-884247239c93",
      "name": "Build an Array of files1"
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "purpose": "assistants"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2780,
        1580
      ],
      "id": "4460ae51-b9d9-459c-9d83-f5cbfcabd591",
      "name": "OpenAI - Upload Files1",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5dcbe0b6-c5b5-4918-bbec-43694b4dcb9b",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        1560
      ],
      "id": "2028617a-1d3a-42d1-aeff-58a7f5327042",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.openai.com/v1/vector_stores/{{ $('Set Static Vars1').first().json[\"vector-store-id\"] }}/files/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        1420
      ],
      "id": "40bf7c05-ae7a-4463-bb14-e645e43d9302",
      "name": "Delete Vector Store Files1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        1340
      ],
      "id": "3c741eb0-b7d0-42a6-a00f-9dd70186f1c9",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3000,
        1580
      ],
      "id": "b9d23710-3d28-489c-ab90-bc2864692ff4",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/vector_stores/{{ $('Set Static Vars1').first().json[\"vector-store-id\"] }}/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"file_id\": \"{{ $json.id }}\"} ",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        1700
      ],
      "id": "f5e3b512-5391-4be2-a3cb-32218b21308b",
      "name": "Send file to Vector Store1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f7bc978-b9a5-4090-9b22-9a5321208976",
              "name": "vector-store-id",
              "value": "={{ $json[\"vector-store-id\"] }}",
              "type": "string"
            },
            {
              "id": "16a824b4-59c1-4a8a-ba12-4b62aa6cc439",
              "name": "subfolder",
              "value": "={{ $json.subfolder }}",
              "type": "string"
            },
            {
              "id": "d6c3f5f5-226c-47a0-b75a-0b3221168027",
              "name": "websites",
              "value": "={{ $json.websites }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        1480
      ],
      "id": "97301f94-1281-4c2f-9095-cadf0936f7bc",
      "name": "Set Static Vars1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        1580
      ],
      "id": "195ef32d-cd55-41c4-9ef2-9f58083b6517",
      "name": "Wait Temp1",
      "webhookId": "78e88630-6d48-4798-8fe3-7ae8b95a9d5d"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1800,
        1420
      ],
      "id": "9058ec87-592b-4db6-a299-f7d39de96271",
      "name": "Wait5",
      "webhookId": "57e3bc0e-2175-4277-bebd-c7936597410b"
    },
    {
      "parameters": {
        "amount": 0.4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3380,
        1700
      ],
      "id": "4bbf118f-c099-4a6f-a49e-39a8ba6eb1ce",
      "name": "Wait7",
      "webhookId": "febee4aa-4bfb-4db9-8202-6c5304c92dce"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "624058c6-a72f-4b2d-bb19-4929042f208d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        1560
      ],
      "id": "e528ad32-5f7c-421f-b823-fd54a7f299b9",
      "name": "If command shows no error "
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3220,
        1540
      ],
      "id": "924d43d0-09ce-499a-ba89-0cee737a95d7",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -220,
        1480
      ],
      "id": "27504c3a-33bb-4a8c-a295-3ccb6b8db049",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "websites",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -420,
        1480
      ],
      "id": "b2b97353-c948-428c-a341-bee76798a79d",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "content": "## Testing Params\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 500,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -660,
        1700
      ],
      "typeVersion": 1,
      "id": "6c24aed3-f5bc-4d33-adf9-67072d73772c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "vector-store-id"
            },
            {
              "name": "subfolder"
            },
            {
              "name": "websites",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        1480
      ],
      "id": "8d386299-a292-480a-97c8-967e57320409",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        1440
      ],
      "id": "9469eb4b-d083-4902-b136-88b706ff34ab",
      "name": "Wait",
      "webhookId": "80cb6a9f-149f-4b1d-9fb6-28a13c0668cc"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/vector_stores/{{ $('Set Static Vars1').first().json[\"vector-store-id\"] }}/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "after",
                    "value": "={{ $response.body[\"last_id\"] }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body[\"has_more\"] == false }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        1400
      ],
      "id": "052ac446-1b12-4be6-9330-12ba8fdbb41b",
      "name": "Get Vector Store Files - Main",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "=Errors:\n{{ $('Execute Crawl4AI Script').item.json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        480,
        1720
      ],
      "id": "74657e97-3925-494a-a44e-5f10107507b6",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-scripts:5500/crawl4ai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"args\": [\n    \"--website\",\n    \"{{ $json.websites }}\",\n    \"--subfolder\",\n    \"{{ $('Set Static Vars1').first().json.subfolder }}\"\n    {{ $runIndex === 0 ? ', \"--clean\"' : '' }}\n  ]\n}",
        "options": {
          "timeout": 1800000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        1560
      ],
      "id": "2cc297b1-e280-41e5-b8b0-b72392f56c4a",
      "name": "Execute Crawl4AI Script"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1240,
        1240
      ],
      "id": "c77e81b4-7607-46dc-85fb-17252bd19708",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Wait Temp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Names1": {
      "main": [
        [
          {
            "node": "Get Vector Store Files - Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build an Array of files1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Upload Files1": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build an Array of files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Vector Store Files1": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Build an Array of files1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Vector Store Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send file to Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send file to Vector Store1": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Static Vars1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Temp1": {
      "main": [
        [
          {
            "node": "OpenAI - Upload Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If command shows no error ": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [
          {
            "node": "Check File Names1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Crawl4AI Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Set Static Vars1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vector Store Files - Main": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Crawl4AI Script": {
      "main": [
        [
          {
            "node": "If command shows no error ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67068624-8fe3-4ac9-8240-0eaa98a776d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7dea66321b4c2d00f456056dec74111cfa19b98c8cde8bfed7341b9d5147730b"
  },
  "id": "zFmMbVDbKxwX3Sbg",
  "tags": [
    {
      "createdAt": "2025-01-26T20:35:21.487Z",
      "updatedAt": "2025-01-26T20:35:21.487Z",
      "id": "TutrKQcUpuk3hV3m",
      "name": "cron"
    },
    {
      "createdAt": "2025-01-26T09:21:04.473Z",
      "updatedAt": "2025-01-26T09:21:04.473Z",
      "id": "VfpwjMdGODJ1skxz",
      "name": "ai"
    }
  ]
}