n8n/backup/workflows/Crawl4AI_to_Open_AI_Assistant_Vector_Store.json
{
  "name": "Crawl4AI to Open AI Assistant Vector Store",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "={{ '/data/scripts_output/crawl4ai/' + $json.file }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        940,
        740
      ],
      "id": "2b86e90e-5953-4f56-bd5b-f2a3a431f076",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "command": "ls /data/scripts_output/crawl4ai"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1340,
        740
      ],
      "id": "683a3411-177e-4265-b587-315318c096f7",
      "name": "Check File Names"
    },
    {
      "parameters": {
        "jsCode": "// Parse the stringified JSON array in $json.stdout\nconst files = $('Check File Names').first().json.stdout.split('\\n');\n\n// Return each file as a separate item\nreturn files.map(file => ({ file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        740
      ],
      "id": "5a7e4b95-4e6b-4c73-b275-edc0eb75043e",
      "name": "Build an Array of files"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/vector_stores/{{ $('Set Static Vars').first().json[\"vector-store-id\"] }}/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1160,
        740
      ],
      "id": "7789fbef-bd0a-403b-834d-46c196a79a49",
      "name": "Get Vector Store Files",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the stringified JSON array in $json.stdout\nconst files = $('Get Vector Store Files').first().json.data;\n\n// Return each file as a separate item\nreturn files.map(file => ({ file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        140
      ],
      "id": "dffe1201-ec8a-4b55-8162-28386037d5a1",
      "name": "Array of Vector Store Files",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "purpose": "assistants"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1340,
        740
      ],
      "id": "f1f5abde-9c34-4eda-b0d3-c4d030305732",
      "name": "OpenAI - Upload Files",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5dcbe0b6-c5b5-4918-bbec-43694b4dcb9b",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1020,
        740
      ],
      "id": "523a243f-2c79-46c9-88d1-9739c9282696",
      "name": "If"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.openai.com/v1/vector_stores/{{ $('Set Static Vars').first().json[\"vector-store-id\"] }}/files/{{ $('Array of Vector Store Files').item.json.file.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        120
      ],
      "id": "3fd3f443-5440-4951-bdd4-1e6c4c99bfbe",
      "name": "Delete Vector Store Files",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "a4c4f619-208b-4c34-9cc4-8f743aa5ca80",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1740,
        740
      ],
      "id": "0cdcdcdf-717f-4d4f-84d6-1b846971bca4",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/vector_stores/{{ $('Set Static Vars').first().json[\"vector-store-id\"] }}/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"file_id\": \"{{ $json.id }}\"} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        860
      ],
      "id": "6b86dd29-a52c-43b8-8f66-435ed55bea57",
      "name": "Send file to Vector Store",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -460,
        480
      ],
      "id": "69c47d69-a996-4275-9de7-be20adee4ba1",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.openai.com/v1/files/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        540
      ],
      "id": "b6f08426-1874-49c4-896d-842c24b9db52",
      "name": "Delete files1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "options": {
          "purpose": "assistants"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -880,
        320
      ],
      "id": "18b682c4-41cc-4d3a-babb-81585368e0f6",
      "name": "OpenAI",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "openAiApi": {
          "id": "yLJyJqOUtRWRIiby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c79b677-72b3-4efc-b9a5-df48144595cd",
              "leftValue": "={{ $json.object }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -680,
        320
      ],
      "id": "17b89e32-0b05-44bc-b88b-ba16c1ff780a",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "815d47ca-751b-40ae-98a1-f9c9a8557404",
              "leftValue": "={{ $json.file }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        140
      ],
      "id": "fc623b22-dbd6-4b04-9e96-4d27947be11a",
      "name": "If2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2780,
        740
      ],
      "id": "c43e9452-25f3-425d-8fa2-a7cffb75f343",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f7bc978-b9a5-4090-9b22-9a5321208976",
              "name": "vector-store-id",
              "value": "vs_So0aIj8ssLKtMOHfImRmQMyv",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2580,
        740
      ],
      "id": "4feca193-a260-43cd-853d-b128b7e5b147",
      "name": "Set Static Vars"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1500,
        740
      ],
      "id": "391b36ed-a257-4a14-9c01-d8916e172e1d",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-scripts:5500/crawl4ai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"args\": [\n    \"--website\",\n    \"https://help.mywayroute.com/sitemap-pages.xml\",\n    \"--clean\"\n  ]\n}",
        "options": {
          "timeout": 1800000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        580
      ],
      "id": "a6add510-069f-46bb-98a6-aa16ae18a565",
      "name": "Execute Crawl4AI Script - help.mywayroute.com"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-scripts:5500/crawl4ai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"args\": [\n    \"--website\",\n    \"https://www.mywayroute.com/sitemap.xml\"\n  ]\n}",
        "options": {
          "timeout": 1800000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        900
      ],
      "id": "233be2ed-42ea-4879-ab03-34df54424bca",
      "name": "Execute Crawl4AI Script - mywayroute.com"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1140,
        740
      ],
      "id": "5685c9d4-78d2-4999-a098-7b4a6b4c1946",
      "name": "Wait Temp",
      "webhookId": "eb05a825-cc1a-40e3-bfa8-d8c3abc15716"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        740,
        120
      ],
      "id": "0d5d32b6-ec06-4c73-91cd-3852c5e5d523",
      "name": "Wait2",
      "webhookId": "2c9c95f8-32e6-4b41-ad80-e0528f97602f"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        540
      ],
      "id": "34d42f2c-ed22-4da2-b42b-ac6ac7b83a2e",
      "name": "Wait1",
      "webhookId": "e3561cbb-3ddc-4966-989d-c26c3eb49580"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2120,
        860
      ],
      "id": "4f942117-d1a1-4dfa-af99-e3e1db1d75eb",
      "name": "Wait3",
      "webhookId": "0ec75dc2-ce7e-405b-8dcc-b1d5c4aa7630"
    },
    {
      "parameters": {
        "errorMessage": "=Errors:\n{{ $('Execute Crawl4AI Script - help.mywayroute.com').item.json.error }}\n{{ $('Execute Crawl4AI Script - mywayroute.com').item.json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1880,
        720
      ],
      "id": "fe71f930-5984-4ea1-a1f8-b36032fd2cd2",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "624058c6-a72f-4b2d-bb19-4929042f208d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2100,
        580
      ],
      "id": "5c82819b-9253-4111-bd97-e59112c841f1",
      "name": "If command shows no error 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e91dd68-958d-4070-8cdb-ae43d519a9b0",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2100,
        900
      ],
      "id": "502354d7-3df5-49cd-a4cc-2ec025cd06b2",
      "name": "If command shows no error 2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        700
      ],
      "id": "93a70acc-ad05-4bf0-abce-71c1623654ed",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Wait Temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Names": {
      "main": [
        [
          {
            "node": "Get Vector Store Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build an Array of files": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vector Store Files": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Array of Vector Store Files": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Upload Files": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build an Array of files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Vector Store Files": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Build an Array of files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Vector Store Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send file to Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send file to Vector Store": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Array of Vector Store Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete files1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Array of Vector Store Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build an Array of files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Static Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Static Vars": {
      "main": [
        [
          {
            "node": "Execute Crawl4AI Script - help.mywayroute.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Crawl4AI Script - mywayroute.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Check File Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Crawl4AI Script - help.mywayroute.com": {
      "main": [
        [
          {
            "node": "If command shows no error 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Crawl4AI Script - mywayroute.com": {
      "main": [
        [
          {
            "node": "If command shows no error 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Temp": {
      "main": [
        [
          {
            "node": "OpenAI - Upload Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If command shows no error 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If command shows no error 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6472ac0-682f-4447-8ddb-5b326f7c9a49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7dea66321b4c2d00f456056dec74111cfa19b98c8cde8bfed7341b9d5147730b"
  },
  "id": "kNJvro1cFAam7i20",
  "tags": [
    {
      "createdAt": "2025-01-26T20:35:21.487Z",
      "updatedAt": "2025-01-26T20:35:21.487Z",
      "id": "TutrKQcUpuk3hV3m",
      "name": "cron"
    },
    {
      "createdAt": "2025-01-26T09:21:04.473Z",
      "updatedAt": "2025-01-26T09:21:04.473Z",
      "id": "VfpwjMdGODJ1skxz",
      "name": "ai"
    }
  ]
}