n8n/backup/workflows/Valhalla_Live_Test.json
{
  "name": "Valhalla Live Test",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        -120
      ],
      "id": "24d5d353-d6a5-42ad-bdc2-e656664c6686",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -380,
        100
      ],
      "id": "57bd201c-b4fd-40eb-827e-2c2c0428bf33",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://65.109.157.151:8002/sources_to_targets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"sources\": [\n    {\n      \"lat\": 40.712776,\n      \"lon\": -74.005974\n    },\n    {\n      \"lat\": 41.203323,\n      \"lon\": -77.194527\n    },\n    {\n      \"lat\": 39.952583,\n      \"lon\": -75.165222\n    },\n    {\n      \"lat\": 42.360081,\n      \"lon\": -71.058884\n    },\n    {\n      \"lat\": 38.907192,\n      \"lon\": -77.036871\n    }\n  ],\n  \"targets\": [\n    {\n      \"lat\": 40.712776,\n      \"lon\": -74.005974\n    },\n    {\n      \"lat\": 41.203323,\n      \"lon\": -77.194527\n    },\n    {\n      \"lat\": 39.952583,\n      \"lon\": -75.165222\n    },\n    {\n      \"lat\": 42.360081,\n      \"lon\": -71.058884\n    },\n    {\n      \"lat\": 38.907192,\n      \"lon\": -77.036871\n    }\n  ],\n  \"costing\": \"auto\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        100
      ],
      "id": "bfed2a17-22c5-4db7-bd9b-909930a859ae",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a271ded4-53f6-4c70-bb80-3a3dbf79fbdd",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        100
      ],
      "id": "22ea6474-8b79-4ff2-8a17-6b010ed60b54",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "id": "259802be-2bd6-4c91-bde3-39121630b74f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+12186958003",
        "to": "+375257205835",
        "message": "=Houston, we have a problem! Valhalla Error: {{ $json.error.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        280,
        0
      ],
      "id": "53f2bf77-b630-40f5-8ed9-9c335b4a786d",
      "name": "Twilio to AZ",
      "credentials": {
        "twilioApi": {
          "id": "yKX80VmFp1r5WfpL",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+12186958003",
        "to": "+380682550720",
        "message": "=Houston, we have a problem! Valhalla Error: {{ $json.error.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        280,
        -180
      ],
      "id": "5327192f-9f56-456e-ae95-5d3a4d20bb82",
      "name": "Twilio to AB",
      "credentials": {
        "twilioApi": {
          "id": "yKX80VmFp1r5WfpL",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deactivate",
        "workflowId": {
          "__rl": true,
          "value": "LWQw2HTiJW2qAJ2j",
          "mode": "list",
          "cachedResultName": "Valhalla Live Test (#LWQw2HTiJW2qAJ2j)"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "a7a1f699-9910-41ad-8a11-f44d2eb7ffd1",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "HzhbEOI6edd8qbT3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "value": "LWQw2HTiJW2qAJ2j",
          "mode": "list",
          "cachedResultName": "Valhalla Live Test (#LWQw2HTiJW2qAJ2j)"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        940,
        0
      ],
      "id": "c789e65b-2a30-4a7d-9f50-213992cccee1",
      "name": "n8n1",
      "credentials": {
        "n8nApi": {
          "id": "HzhbEOI6edd8qbT3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        0
      ],
      "id": "a2d47a3e-7994-48f3-a49c-dfae0ac62c18",
      "name": "Wait",
      "webhookId": "bf7decfa-6ffa-4264-999f-0330eeba02d9"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Twilio to AB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twilio to AZ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio to AZ": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio to AB": {
      "main": [
        []
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "n8n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3c1789c-12c9-478f-a6c9-3ffe9aee863d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7dea66321b4c2d00f456056dec74111cfa19b98c8cde8bfed7341b9d5147730b"
  },
  "id": "LWQw2HTiJW2qAJ2j",
  "tags": [
    {
      "createdAt": "2025-01-26T20:35:21.487Z",
      "updatedAt": "2025-01-26T20:35:21.487Z",
      "id": "TutrKQcUpuk3hV3m",
      "name": "cron"
    },
    {
      "name": "live check",
      "id": "W9vw21WGksUICmhn",
      "createdAt": "2025-03-20T18:38:43.077Z",
      "updatedAt": "2025-03-20T18:38:43.077Z"
    }
  ]
}